name: sw_flutter
description: "SafeWay - 안전한 길찾기 앱"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.4.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_dotenv: ^6.0.0
  cupertino_icons: ^1.0.8
  shared_preferences: ^2.0.1


  # 지도 및 위치
  google_maps_flutter: ^2.5.0
  geolocator: ^14.0.2
  url_launcher: ^6.1.14
  permission_handler: ^12.0.1
  http: ^1.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - .env
